<h5 class="mt-5">Selectores anidados</h5>
<hr>

<form autocomplete="off" [formGroup]="formularioPais" (ngSubmit)="guardar()">

  <!-- Combo de continentes -->
  <div class="row mb-3">
    <div class="col">
      <label for="etiqueta" class="form-label">Continentes:</label>
      <select class="form-control" formControlName="continente">
        <option value=""> -- Seleccione el continente -- </option>
        <option *ngFor="let item of continentes; let i=index" [value]="item | lowercase"> {{ item }}</option>
      </select>
    </div>
  </div>

    <!-- Combo de paises -->
  <div class="row mb-3" *ngIf="paises.length !== 0">
    <div class="col">
      <label for="etiqueta" class="form-label">Paises:</label>
      <select class="form-control" formControlName="paises">
        <option value=""> -- Seleccione el pais -- </option>
        <option *ngFor="let item of paises; let i=index" [value]="item.alpha3Code | lowercase"> {{ item.name }}</option>
      </select>
    </div>
  </div>

    <!-- Combo de fronteras -->
  <div class="row mb-3" *ngIf="fronteras.length !== 0">
    <div class="col">
      <label for="etiqueta" class="form-label">Fronteras:</label>
      <select class="form-control" formControlName="fronteras">
        <option value=""> -- Seleccione la frontera -- </option>
        <option *ngFor="let item of fronteras; let i=index" [value]="item | lowercase"> {{ item }}</option>
      </select>
    </div>
  </div>

  <div class="row" *ngIf="cargando">
    <div class="col">
      <div class="alert alert-info">
        Cargando...
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button class="btn btn-dark float-end" type="submit"> Guardar </button>
    </div>
  </div>


</form>


<h3>Formulario</h3>
<pre>Valid: {{ formularioPais.valid | json }}</pre>
<pre>Value: {{ formularioPais.value | json }}</pre>
